/ !!! 5
/ %head
/   %meta{'http-equiv' => 'content-type', content: 'text/html', charset: 'UTF-8'}
/   %meta{name: 'msapplication-config', content: 'none'}
/   = csrf_meta_tags

/   %title= 'H'

/   %link{type: 'text/css', rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'}
/   = yield :styles
/   %header
/     = yield :header
/   = yield
/   = yield :javascript
